@model List<User>
@{
    ViewData["Title"] = "Fourth query";
}

<h2>Fourth query</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>ToDos</th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                <div class="col-xs-12" style="height:150px">
                    <div style="background-image:url(@user.Avatar); background-attachment:cover;background-repeat:no-repeat;height:100%" class="col-xs-4">
                    </div>
                    <div class=" col-xs-8">
                        <p>@user.Name - @user.Email</p>
                    </div>
                </div>
            </td>
            <td>
                <ul>
                    @foreach (var toDo in user.ToDos)
                    {
                        <li>@toDo.Name - @toDo.IsComplete - <span class="badge">@toDo.CreateAt.ToString("d")</span></li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>
