@model List<User>
@{
    ViewData["Title"] = "Fourth query";
}
<br />
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active">Fourth query</li>
</ol>

<h2>Fourth query</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>ToDos</th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                <div class="col-xs-12" style="height:150px">
                    <div style="background-image:url(@user.Avatar); background-attachment:cover;background-repeat:no-repeat;height:100%" class="col-xs-4">
                    </div>
                    <div class=" col-xs-8">
                        <p>@user.Name - @user.Email</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="showTable" data-id="@user.Id">Click for show</p>
                <table id="todos@(user.Id)" class="table table-bordered" style="display:none">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>IsComplete</th>
                            <th>CreateAt</th>
                        </tr>
                    </thead>
                    @foreach (var toDo in user.ToDos)
                    {
                        <tr>
                            <td>@Html.ActionLink(@toDo.Name,"ToDo","Users",new { id=toDo.Id})</td>
                            <td>@toDo.IsComplete</td>
                            <td> <span class="badge">@toDo.CreateAt.ToString("d")</span></td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
